html, body {
    min-height: 100%;
}

body {
    margin: 0px;

    background-image: url("assets/bg.jpg");

    background-repeat: no-repeat;
    background-size: cover;
}

#mainContent {
    display: flex;
    justify-content: center;
}

#logo {
    /* margin-left: auto;
    margin-right: auto; */
    /* top: calc(4% - 3px); */

    max-width: 90vw;
    max-height: 90vh;

    margin-top: 2%;

    border-radius: 24px 24px 24px 24px;

    border-color: blueviolet;
    border-style: solid;
    border-width: 3px;
}