body {
    background-image: url("assets/vines.png");
    min-height: 100%;
    background-size: 100% auto;
}

#quizBox {
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 24px 24px 24px 24px;
    padding: 8px;
    max-width: 786px;
}

.centeredDiv {
    display: flex;
    flex-direction: column;

    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#questionLabel {
    text-align: center;
}

/* #answers {
    margin-left: auto;
    margin-right: auto;
} */

#movementButtons {
    display: flex;
    flex-direction: row;
}

#logo {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 
.horizCenter {
    margin-top: 10%;

} */