body {
    background-image: url("assets/vines.png");
    background-size: 100vw 100vh;
}

#quizBox {
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 24px 24px 24px 24px;
    padding: 8px;
    max-width: 786px;
}

.centeredDiv {
    display: flex;
    flex-direction: column;

    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#questionLabel {
    text-align: center;
}

button {
    background-color: #66336F;
    border-radius: 8px 8px 8px 8px;
    border-color: #2E1E33;
    color: white;
    padding: 10px 24px;
    min-width: 128px;
    text-align: center;
    

    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    background-color: #9a65a3;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    background-color: #9a65a3;
    border: 3px solid #ffffff;

    font: inherit;
    width: 18px;
    height: 18px;
    translate: 0px 3px;

    border-radius: 50% 50% 50% 50%;
}

.answerContainer {
    padding: 4px;
}

.answerLabel:hover {
    cursor: pointer;
}

.answerContainer:hover {
    border-radius: 6px 6px 6px 6px;
    background-color: #66336F;
    cursor: pointer;
}

input[type="radio"]:checked {
    border: 3px solid #2E1E33;
}

input[type="radio"]:hover {
    cursor: pointer;
}

#movementButtons {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}

#logo {
    max-width: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#progressLabel {
    padding: 4px;
    margin: auto;
    margin-left: 8px;
    background-color: #2e1e3370;
    border-radius: 6px 6px 6px 6px;
    border: 2px solid #2E1E33;
    color: #ffffff;
}